body{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-width: none;
}
div.container{
    width: 600px;
    height: 600px;
    margin: auto;
    margin-top: 70px;
    border-radius: 15px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.board{
    width: 90%;
    height: 500px;
}
.table {
    width: 100%;
    height: 100%;
    margin-top: 5px;
    background-color: aliceblue;
    border:none;
    border-collapse: collapse;
}
.table td {
    text-align: center;
    border-left: 5px solid  #203A43;
    border-bottom:5px solid #203A43;
    width: 33%;
    height: 33%;
}
.table td:first-child {
    border-left: none;
}
.table tr:last-child td{
    border-bottom: none;
}
.information{
    background-color:rgba(169, 169, 169, 0.274);
    border:3px solid #203A43;
    border-radius: 5px;
    width: 90%;
    height: 100px;
    margin-top: 15px; 
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.score{
    margin-top: 5px;
    margin-bottom: 15px;
    align-content: center;
    width: 100%;
    height: fit-content;
}
.score td{
    font-family: cursive;
    text-align: center;
    font-size: 12pt;
}
.score th{
    padding-top: 5px;
    font-size: 12pt;
    font-family: cursive;
    border-bottom:3px solid #203A43;
}















button::before,
button::after{
    /* position:absolute ; */
    content: "";
    z-index: -1;
}
button{
    /* position:relative; */
    border: none;
    border-radius: 10px;
    transition: .2s ease-in;
    z-index: 1;
    width: 100px;
    height: 35px;
    background-color: #2C5364;
    color: aliceblue;
    font-size: 9pt;
    margin: auto;
    margin-top: 15px;
}
#resetBtn:hover{
    background: #2C5364;
    box-shadow: 0 0 5px #2C5364 , 0 0 15px #2C5364;

}
